.project-item {
    flex-basis: 200pt;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 4pt;
}

.project-item:hover {
    box-shadow: 0 0 10pt var(--accent-color);
}

.project-item img {
    align-self: center;
    height: 100pt;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.2em;
}

.project-item h3 {
    font-size: 1.4em;
    padding-bottom: 0.5em;
}

.project-item p {
    text-align: start;
}

@media only screen and (max-width: 600px) {
    .project-item {
        flex-basis: 150pt;
    }

    .project-item img {
        height: 75pt;
    }
}