.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 20pt;
}

.project-container:after {
    content: "";
    flex-basis: 200pt;
    flex-grow: 0;
    flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
    .project-container {
        justify-content: center;
    }

    .project-container:after {
        flex-basis: 150pt;
    }
}