.recommendation {
    background-color: var(--accent-color);
    padding: 10px;
    margin-bottom: 1em;
    max-width: 600px;
    border-radius: 10px 5px 10px 5px;
}

.recommendation-text {
    color: black;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}

.recommendation-referee {
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 0;
}