nav {
    background-color: var(--nav-bg-color);
    flex-basis: var(--nav-width);
    min-height: 100vh;
    height: inherit;
    display: flex;
    flex-direction: column;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: var(--primary-text-color);
    text-decoration: none;
}

.nav-profile-image {
    width: var(--nav-width);
    height: var(--nav-item-height);
    object-fit: contain;
}

/* Responsive stuff for mobile */
@media only screen and (max-width: 600px){
    nav {
        min-height: fit-content;
        height: fit-content;
        flex-direction: row;
        flex-basis: auto;
        justify-content: space-between;
    }

    #navProfileImage {
        display: none;
    }
}
