@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root {
  --nav-bg-color: #1f2228; /* #373c45 */
  --main-bg-color: #373c45; /* #1f2228 */
  --primary-text-color: white;
  --nav-width: 100pt;
  --nav-item-height: 100pt;
  --accent-color: #ff7f00;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

h1 {
  color: var(--accent-color);
  font-size: 4em;
  text-align: center;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

h2 {
  color: var(--accent-color);
  font-size: 2em;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 4em;
}

p {
  text-align: justify;
  font-size: 1.1em;
  padding-bottom: 1.2em;
  line-height: 1.2em;
  max-width: 800px;
}

.center {
  width: fit-content;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
}
