.contact-item {
    display: inline-block;
    margin: 10px;
    font-size: 80px;
    line-height: 1em;
    height: 1em;
    color: var(--primary-text-color);
}

.contact-item:hover {
    color: var(--accent-color);
}